@font-face {
    font-family: "Courier New";
    font-weight: 700;
    src: local("Courier New Bold"), url("assets/font/courbd.ttf") format("truetype");
}
@font-face {
    font-family: "BIZ UDMincho";
    font-weight: 400;
    src: local("BIZ UDMINCHO"), url("assets/font/BIZUDMincho-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "FairfaxHaxHD";
    font-weight: 400;
    src: local("FairfaxHaxHD"), url("assets/font/FairfaxHaxHD.ttf") format("truetype");
}


body{
    font-family: "BIZ UDMincho", serif;
    font-weight: 700;
    text-align: center;

    background-color: #000000;
}

#intros{
    display: flex;
    flex-direction: column;
}

.introd{
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 2vw;
    max-width: 80vw;
    margin-bottom: 5vw;
}
#introtxt{
    background-color: gray;
}
#introkkn{
    background-color: gray;
}

.youmight{
    font-size: 12px;
}

.kkn{
    font-family: 'FairfaxHaxHD';
}

@media screen and (min-width: 460px){
    #intros{
        flex-direction:row;
    }
    .introd{
        margin-left: 3vw;
        margin-right: 3vw;
        padding: 2vw;
        max-width: 40vw;
    }
}