@font-face {
    font-family: "BIZ UDMincho";
    font-weight: 400;
    src: local("BIZ UDMINCHO"), url("assets/font/BIZUDMincho-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "FairfaxHaxHD";
    font-weight: 400;
    src: local("FairfaxHaxHD"), url("assets/font/FairfaxHaxHD.ttf") format("truetype");
}


body{
    background-color: #000000;
    font-family: "BIZ UDMincho";
    font-weight: 700;

    display: flex;
    justify-content: center;
}

header{
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 640px
}
h1{
    font-size: small;
}

#story{
    background-color: gray;
    text-align: center;
    padding-bottom: 10px;
    max-width: 650px
}
.panel{
    width: 100%;
}
#nxtpage{
    font-size: x-large;
    text-align: left;
    margin-left: 40px;
}

#lastpage{
    display: block;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
}


.kkn{
    font-family: 'FairfaxHaxHD';
}

@media screen and (min-width: 722px){

    
    .panel{
        width: 650px;
    }
}